<div class="container">
    <header class={{headerStyle}}>
      <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">{{Company}}</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href= {{link1}} class="{{aClass}}" aria-current="page">Home</a></li>
        <li class="nav-item"><a href= {{link2}} class="{{aClass}}">View Past Tickets</a></li>
        <li class="nav-item"><a href= {{link3}} class={{aClass}}>Add a Reimbursement Request</a></li>
        <li class="nav-item"><a href= {{link4}} class={{aClass}}>Finance Manager</a></li>
        <li class="nav-item"><a href={{link5}} class={{aClass}}>Login</a></li>
      </ul>
    </header>
  </div>